<?xml version="1.0"?>
<config>
	<modules>
        <CJM_CustomStockStatus>
            <version>2.8.0</version>
        </CJM_CustomStockStatus>
    </modules>
	<global>
		<models>
            <customstockstatus>
                <class>CJM_CustomStockStatus_Model</class>
            </customstockstatus>
        </models>
		<blocks>
  			<CustomStockStatus>
				<class>CJM_CustomStockStatus_Block</class>
			</CustomStockStatus>
       		<catalog>
       			<rewrite>
           			<product_view_type_configurable>CJM_CustomStockStatus_Block_Catalog_Product_View_Type_Configurable</product_view_type_configurable>
         		</rewrite>
      		</catalog>
			<bundle>
        		<rewrite>
        			<catalog_product_view_type_bundle_option_radio>CJM_CustomStockStatus_Block_Catalog_Product_View_Type_Bundle_Option_Radio</catalog_product_view_type_bundle_option_radio>
					<catalog_product_view_type_bundle_option_multi>CJM_CustomStockStatus_Block_Catalog_Product_View_Type_Bundle_Option_Multi</catalog_product_view_type_bundle_option_multi>
        			<catalog_product_view_type_bundle_option_checkbox>CJM_CustomStockStatus_Block_Catalog_Product_View_Type_Bundle_Option_Checkbox</catalog_product_view_type_bundle_option_checkbox>
        			<catalog_product_view_type_bundle_option_select>CJM_CustomStockStatus_Block_Catalog_Product_View_Type_Bundle_Option_Select</catalog_product_view_type_bundle_option_select>
        		</rewrite>
        	</bundle>
 		</blocks>
		<helpers>
            <customstockstatus>
                <class>CJM_CustomStockStatus_Helper</class>
            </customstockstatus>
        </helpers>
		<resources>
    		<customstockstatus_setup>
      			<setup>
        			<module>CJM_CustomStockStatus</module>
      			</setup>
      			<connection>
        			<use>core_setup</use>
      			</connection>
    		</customstockstatus_setup>
    		<customstockstatus_write>
      			<connection>
        			<use>core_write</use>
      			</connection>
    		</customstockstatus_write>
			<customstockstatus_read>
      			<connection>
        			<use>core_read</use>
      			</connection>
    		</customstockstatus_read>
		</resources>
	</global>
	<frontend>
        <routers>
            <CustomStockStatus>
                <use>standard</use>
                <args>
                    <module>CJM_CustomStockStatus</module>
                    <frontName>customstockstatus</frontName>
                </args>
            </CustomStockStatus>
        </routers>
		<layout>
            <updates>
                <customstockstatus>
					<file>customstockstatus.xml</file>
                </customstockstatus>
            </updates>
        </layout>
		<translate>
      		<modules>
          		<CJM_CustomStockStatus>
                     <files>
                          <default>CJM_CustomStockStatus.csv</default>
                     </files>
                </CJM_CustomStockStatus>
            </modules>
        </translate>	      
	</frontend>
	<default>
        <custom_stock>
			<general>
				<outofstock>0</outofstock>
				<expecdateformat>%b %d, %Y</expecdateformat>
				<predateformat>%b %d, %Y</predateformat>
				<hideexpiredexpec>0</hideexpiredexpec>
				<restrictions>0</restrictions>
				<restrictionstext>Restrictions Apply</restrictionstext>
				<showonlist>1</showonlist>
				<showcustomonlist>1</showcustomonlist>
				<showhighstock>1</showhighstock>
				<highstock>40</highstock>
            </general>
            <shipoptions>
            	<shipstyle>1</shipstyle>
				<dateformat>%A, %B %e</dateformat>
				<cutofftime>17,00,00</cutofftime>
				<saturday>0</saturday>
				<defaultdays>2</defaultdays>
				<enableholidays>1</enableholidays>
            </shipoptions>
            <simpleproducts>
				<simpleshowstocklevel>1</simpleshowstocklevel>
				<limited>5</limited>
				<simplecustomtext>0</simplecustomtext>
				<simpleshowshipdate>1</simpleshowshipdate>
				<simpleshipdatetext>Order today, and this will ship by: </simpleshipdatetext>
            </simpleproducts>
			<configurableproducts>
				<configoutofstock>1</configoutofstock>
				<alerts>1</alerts>
				<dynamics>1</dynamics>
				<bottomavail>1</bottomavail>
				<configurablecustomtext>0</configurablecustomtext>
				<configurableshowshipdate>1</configurableshowshipdate>
				<configurableshipdatetext>Order today, and this will ship by: </configurableshipdatetext>
				<configurablepre>0</configurablepre>
				<configurablechildcustomtext>0</configurablechildcustomtext>
				<configurablechildoutofstock>0</configurablechildoutofstock>
				<configurableshipby>0</configurableshipby>
				<configurableshipbyformat>%b %d, %Y</configurableshipbyformat>
				<configurableshowstocklevel>1</configurableshowstocklevel>
            </configurableproducts>
			<bundleproducts>
				<enabled>1</enabled>
				<bundleshowstocklevel>1</bundleshowstocklevel>
				<bundlecustomtext>0</bundlecustomtext>
				<bundleshowshipdate>1</bundleshowshipdate>
				<bundleshipdatetext>Order today, and this will ship by: </bundleshipdatetext>
            </bundleproducts>
			<virtualproducts>
				<virtualcustomtext>0</virtualcustomtext>
				<virtualshowshipdate>1</virtualshowshipdate>
				<virtualshipdatetext>Order today, and this will ship by: </virtualshipdatetext>
            </virtualproducts>				
        </custom_stock>
    </default>
	<adminhtml>
		<layout>
            <updates>
                <customstockstatus>
					<file>customstockstatus.xml</file>
                </customstockstatus>
            </updates>
        </layout>
		<translate>
      		<modules>
          		<CJM_CustomStockStatus>
                     <files>
                          <default>CJM_CustomStockStatus.csv</default>
                     </files>
                </CJM_CustomStockStatus>
            </modules>
        </translate>	
		<acl>
			<resources>
				<admin>
					<children>
						<system>
							<children>
								<config>
									<children>
										<custom_stock translate="title" module="customstockstatus">
											<title>Custom Stock Status Section</title>
											<sort_order>50</sort_order>
										</custom_stock>
									</children>
								</config>
							</children>
						</system>
					</children>
				</admin>
			</resources>
		</acl>
	</adminhtml>			
</config>