<?xml version="1.0"?>
<!--
    Copyright (c) 2009-2012 Amasty (http://www.amasty.com) 
-->
<config>
    <modules>
        <Amasty_Shiprestriction>
            <version>1.0.5</version>
        </Amasty_Shiprestriction>
    </modules>

    <global>
        <models>
            <amshiprestriction>
                <class>Amasty_Shiprestriction_Model</class>
                <resourceModel>amshiprestriction_mysql4</resourceModel>
            </amshiprestriction>
            <amshiprestriction_mysql4>
                <class>Amasty_Shiprestriction_Model_Mysql4</class>
                <entities>
                    <rule>
                        <table>am_shiprestriction_rule</table>
                    </rule> 
                    <attribute>
                        <table>am_shiprestriction_attribute</table>
                    </attribute> 
                </entities>
            </amshiprestriction_mysql4>   
            <shipping>
                <rewrite>
                    <shipping>Amasty_Shiprestriction_Model_Shipping_Shipping</shipping>
                </rewrite>
            </shipping>	
        </models>     
        <resources>
            <amshiprestriction_setup>
                <setup>
                    <module>Amasty_Shiprestriction</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </amshiprestriction_setup>
            
            <amshiprestriction_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </amshiprestriction_write>
            
            <amshiprestriction_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </amshiprestriction_read>
        </resources>

        <blocks>
            <amshiprestriction>
                <class>Amasty_Shiprestriction_Block</class>
            </amshiprestriction>
        </blocks>
        
        <helpers>
            <amshiprestriction>
                <class>Amasty_Shiprestriction_Helper</class>
            </amshiprestriction>
        </helpers>  
        
        <events>
            <am_restrict_rates>
                <observers>
                    <amshiprestriction>
                        <type>singleton</type>
                        <class>amshiprestriction/observer</class>
                        <method>restrictRates</method>
                    </amshiprestriction>
                </observers>
            </am_restrict_rates>
            
            <sales_quote_config_get_product_attributes>
                <observers>
                    <amshiprestriction>
                        <class>amshiprestriction/observer</class>
                        <method>addProductAttributes</method>
                    </amshiprestriction>
                </observers>
            </sales_quote_config_get_product_attributes>             
            
        </events>         
    </global>
    
    <admin>
        <routers>
			<amshiprestriction>
				<use>admin</use>
				<args>
					<module>Amasty_Shiprestriction</module>
					<frontName>amshiprestriction</frontName>
				</args>
			</amshiprestriction>
        </routers>
    </admin> 
    
    <adminhtml>
        <menu>
            <sales>
                <children>
                    <amshiprestriction translate="title" module="amshiprestriction">
                        <title>Shipping Restrictions</title>
                        <sort_order>700</sort_order>
                        <action>amshiprestriction/adminhtml_rule</action>
                    </amshiprestriction>
                </children>
            </sales>
        </menu> 
        <acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
                <admin>
                    <children>
                        <sales>
                            <children>
                                <amshiprestriction>
                                    <title>Shipping Restrictions</title>
                                </amshiprestriction>
                            </children>
                        </sales> 
                    </children>
                </admin> 
            </resources>
        </acl>
        <translate>
            <modules>
                <Amasty_Shiprestriction>
                    <files>
                        <default>Amasty_Shiprestriction.csv</default>
                    </files>
                </Amasty_Shiprestriction>
            </modules>
        </translate> 	
    </adminhtml> 
    <default>
        <amshiprestriction>
           <general>
                <tax>0</tax>
                <discount>0</discount>
            </general>
        </amshiprestriction>
    </default>     
</config>