<?xml version="1.0" encoding="UTF-8"?>
<!--
/**
 * Simple module for synchronizing system configuration and database changes.
 *
 * @category    Ash
 * @package     Ash_Updater
 * @copyright   Copyright (c) 2013 August Ash, Inc. (http://www.augustash.com)
 * @license     http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
 */
-->
<config>
    <modules>
        <Ash_Updater>
             <version>1.0.2</version>
             <ashup
                remote="https://s3.amazonaws.com/augustash/mage/ash_updater-latest.zip" />
        </Ash_Updater>
    </modules>

    <global>
        <resources>
            <ash_updater_setup>
                <setup>
                    <module>Ash_Updater</module>
                    <class>Mage_Core_Model_Resource_Setup</class>
                </setup>
            </ash_updater_setup>
        </resources>
    </global>
</config>
