<?xml version="1.0"?>
<config>    
    <modules>
        <Smartbear_Alertsite>
            <version>1.0.0</version>
        </Smartbear_Alertsite>
    </modules>
	<global>
    	<models>
            <alertsite>
                <class>Smartbear_Alertsite_Model</class>
            </alertsite>
        </models>
	    <helpers>
    	    <alertsite>
        	    <class>Smartbear_Alertsite_Helper</class>
        	</alertsite>
    	</helpers>
    	<blocks>
    		<alertsite>
    			<class>Smartbear_Alertsite_Block</class>
    		</alertsite>
    	</blocks>
		<resources>
			<alertsite_setup>
				<setup>
					<module>Smartbear_Alertsite</module>
				</setup>
				<connection>
					<use>core_setup</use>
				</connection>
			</alertsite_setup>
		</resources>
    </global>

    <adminhtml>
        <events>
            <core_block_abstract_prepare_layout_after>
                <observers>
                    <smartbear_alertsite>
                        <class>alertsite/observer</class>
                        <method>coreBlockAbstractPrepareLayoutAfter</method>
                    </smartbear_alertsite>
                </observers>
            </core_block_abstract_prepare_layout_after>
            <core_block_abstract_to_html_after>
                <observers>
                    <smartbear_alertsite>
                        <class>alertsite/observer</class>
                        <method>coreBlockAbstractToHtmlAfter</method>
                    </smartbear_alertsite>
                </observers>
            </core_block_abstract_to_html_after>
        </events>
        <layout>
            <updates>
                <alertsite>
                    <file>alertsite.xml</file>
                </alertsite>
            </updates>
        </layout>
    </adminhtml>

	<admin>
		<routers>
			<adminhtml>
				<args>
					<modules>
						<alertsite after="Mage_Adminhtml">Smartbear_Alertsite_Adminhtml</alertsite>
					</modules>
				</args>
			</adminhtml>
		</routers>
	</admin>

	<default>
		<alertsite>
			<alertsite_config>
				<enabled>1</enabled>
                <provisioned>0</provisioned>
			</alertsite_config>
		</alertsite>
	</default>
</config>   
