<?xml version="1.0" encoding="UTF-8"?>
<!--
/**
 * Ash Admin Extension
 *
 * Custom admin theme modifications.
 *
 * @category    Ash
 * @package     Ash_Admin
 * @copyright   Copyright (c) 2012 August Ash, Inc. (http://www.augustash.com)
 * @license     http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
 */
-->
<config>
    <modules>
        <Ash_Admin>
             <version>1.0.2</version>
             <ashup
                remote="https://s3.amazonaws.com/augustash/mage/ash_admin-latest.zip" />
        </Ash_Admin>
    </modules>

    <stores>
        <admin>
            <design>
                <theme>
                    <default>ash</default>
                </theme>
            </design>
        </admin>
    </stores>
</config>
