<?xml version="1.0" encoding="UTF-8"?>
<!--
/**
 * Font Awesome icon support
 *
 * @category    Ash
 * @package     Ash_Fontawesome
 * @copyright   Copyright (c) 2014 August Ash, Inc. (http://www.augustash.com)
 * @license     http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
 */
-->
<config>
    <modules>
        <Ash_Fontawesome>
             <version>1.0.1</version>
             <ashup
                remote="https://s3.amazonaws.com/augustash/mage/Ash_Fontawesome-latest.zip" />
        </Ash_Fontawesome>
    </modules>

    <global>
        <helpers>
            <ash_fontawesome>
                <class>Ash_Fontawesome_Helper</class>
            </ash_fontawesome>
        </helpers>
        <models>
            <ash_fontawesome>
                <class>Ash_Fontawesome_Model</class>
            </ash_fontawesome>
        </models>
    </global>

    <adminhtml>
        <translate>
            <modules>
                <Ash_Fontawesome>
                    <files>
                        <default>Ash_Fontawesome.csv</default>
                    </files>
                </Ash_Fontawesome>
            </modules>
        </translate>
        <layout>
            <updates>
                <ash_fontawesome>
                    <file>ash_fontawesome.xml</file>
                </ash_fontawesome>
            </updates>
        </layout>
    </adminhtml>

    <frontend>
        <layout>
            <updates>
                <ash_fontawesome>
                    <file>ash_fontawesome.xml</file>
                </ash_fontawesome>
            </updates>
        </layout>
    </frontend>

    <default>
        <ash_fontawesome>
            <general>
                <enabled>1</enabled>
                <use_cdn>1</use_cdn>
                <use_minified>1</use_minified>
            </general>
            <version>
                <fontawesome>4.0.3</fontawesome>
            </version>
        </ash_fontawesome>
    </default>
</config>
