.giftwrap_area {
	margin-bottom:18px;
	padding:12px 15px;
	border:1px solid #D0CBC1;
	background:url(../images/base_mini_head_bg.gif) repeat-x #fff;

	float:left;
	/*color:#E26703;	*/
}

.giftwrap_area h4{
	text-transform:uppercase;
	font-size:1.05em;
}
.mess-gift h4, .mess-gift{float: left; color: #E4015D; font-size: 15px; font-weight: bold; text-align: left;}
.giftwrap-style-table {

}
.giftwrap-style-table .odd, .giftwrap-style-table .last{
    background: none repeat scroll 0 0 transparent;
}

.giftwrap-style-table tr.last th, .giftwrap-style-table tr.last td {
    border-bottom: 1px dashed #B6B6B6!important;
}
.giftwrap-style-table .giftwrap-item{
	width:90px; 
	text-align:center;
}
.giftwrap-style-table tbody th, .giftwrap-style-table tbody td {
	border-right:1px dashed #d9d9d9!important;
	border-bottom:1px dashed #d9d9d9!important;
	text-align: center;
	vertical-align: middle;
	width:40%;display:table-cell;
}
#giftwrap-giftbox-item thead{border-bottom:none!important;}
#giftwrap-giftbox-item thead th{border-bottom:1px dashed #d9d9d9!important;}
.giftwrap-style-table .giftwrap-style-selection {
	width:150px; 
	text-align:center;
}

.giftwrap-style-table .style-image {
	width:200px; 
	text-align:center;
}

.giftwrap-style-table .style-price {
	width:100px; 
	text-align:center;
}

#giftwrap_all_div {
	padding-top:20px;
	width:50%;
}

#giftwrap_styleselection {
	padding-right:32px;
	padding-top:32px;
}
#giftwrap_styleselection  ul
{
	clear:both;	
	margin-bottom:10px;
}

#giftwrap_styleselection  ul li
{
	float:left;	
	text-align:center;
}

#giftwrap_styleselection  ul li div
{
	border:2px solid #CFCFCF;
	height:122px;
	width:90px;
	margin-right:5px;
	background-color:white;
}

#giftwrap_styleselection ul li div#giftwrap_style {
	height:82px;
	width:150px;
	font-size:14px;
	text-transform:uppercase;
	text-align:center;
	padding-top:40px;
}

.gift_wrap_head h3{

	text-align:right;
}
.head1 h3 {
	margin-right:89px;
	min-height:30px;
}
#giftwrap_styleselection  ul li div.gray
{
	background-color:#F1F1F1;
}
.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
 
.clearfix {

}
 
html[xmlns] .clearfix {
	display: block;
}
 
* html .clearfix {
	height: 1%;
}

#giftwrap_message
{
	float:left;
}
#giftwrap_message h4
{
	min-height: 16px;
	color: #e26703;
	padding-top: 1px;
	padding-right: 0pt;
	padding-bottom: 1px;
	padding-left: 5px;
}

.giftwrap_area .giftwrap_item {
	text-align:center;
	float:left;
	width:100%;
}

#loading-mask-giftwrap {
	position:absolute;
	top:40%;
	left:40%;
	color:#d85909;
	font-size:1.1em;
	font-weight:bold;
	text-align:center;
	z-index:500;    
}	

#loading-mask-giftwrap .loader-giftwrap {
	position:fixed;
	top:45%;
	left:50%;
	width:120px;
	margin-left:-60px;
	padding:15px 60px;
	background:#fff4e9;
	border:2px solid #f1af73;
	color:#d85909;
	font-weight:bold;
	text-align:center;
	z-index:1000;
}

/* for gift wrap tooltip*/
.giftwrap_icon {
	width:50%;
	position:relative;
}

.giftwrap_protoClassic {
border:5px solid #8C939C;
width:300px;
display:none;position:absolute; top:20px; left:0px;z-index:9999;
}
.giftwrap_icon:hover .giftwrap_protoClassic{display:block;}
.giftwrap_protoClassic .giftwrap_toolbar {
	-moz-background-clip:border;
	-moz-background-inline-policy:continuous;
	-moz-background-origin:padding;
	background:#96B8E2 url(../images/classic_toolbar.gif) repeat-y scroll left top;
	color:#FFFFFF;
	font-weight:bold;
}

.giftwrap_protoClassic .title {
	padding:5px;
}

.giftwrap_protoClassic .content { 
	background: #fff; 
	color: #333333;
	font: 11px Arial, Helvetica, sans-serif; 
	padding: 5px; 
	clear:both;
}

/* Available Pagers page*/
.listing-pagers .grid-row {
	border-bottom:1px solid #d9dde3;
	float:left;
	width:100%;
}

.listing-pagers .last {
	border-bottom:0;
}

.listing-pagers li.item { 
	float:left; 
	width:30%; 
	padding:12px 10px; 
	line-height:1.6em; 
	overflow:hidden; 
	border-right:1px solid #d9dde3;
}

.listing-pagers .product-image { text-align:center; }

.listing-pagers h5 { text-align:center; }

.giftwrap-message .turned_off{display:none;}


#testdiv {margin:0 auto; border:1px solid #ccc; padding:20px 25px; background:#fff}

#tinybox {
    background: url("../images/giftwrap/bg-giftwrap.gif") repeat scroll 0 0 transparent !important;
    border: 10px solid #E3E3E3;
    display: none;
    padding: 10px;
    position: absolute;
    z-index: 99999;
}
#tinymask {position:absolute; display:none; top:0; left:0; height:100%; width:100%; background:#000; z-index:99998}
#tinycontent {position: relative;}


/*Gift box*/
.giftbox-title{
    color: #8C6239;
    float: left;
    font-family: arial;
    font-size: 20px;
    font-weight: normal;
    padding: 10px 0;
    text-align: left;
	clear:both;
}
#giftwrap-giftbox li ,#giftwrap-giftbox-additional li,#giftwrap-giftbox-paper-table  li,#giftbox-giftcard-table li {
	list-style:none;
}
.giftwrap-style-table{font-size: 14px; font-weight: normal;color: #e4015d; border:1px dashed #d9d9d9; border-right:none;}
.giftwrap-style-table tbody td span.price{}
.giftwrap-style-table tbody td span.img-small{
	background: url(../images/giftwrap/bg-img-small.png) no-repeat;
	height: 80px;
	width: 80px;
	float: left;
	
	padding-top:5px;
	display:block;
	text-align:center;
	
}
#giftwrap-giftbox-additional{
	width:100%;
	padding: 10px 0;
}
#giftwrap-giftbox{
	margin: 10px 0px;
}

#giftwrap-form .actions-button{
	width: 100%;
	text-align: left;
	margin-top: 10px;
	float:left;
}
#close-giftbox a{
    color: #FFFFFF;
    line-height: 41px;

    text-decoration: none;
}
#close-giftbox span, button#save-giftbox span{
	background: none transparent;
	border: 0 none;
	font-size: 14px;
	font-weight: normal;
	padding-bottom: 6px;
	display:inline;
	padding:0px; margin:0px;
	height:auto;
	line-height:0px; color:white;
	text-align:center;float:none;
}
#close-giftbox, button#save-giftbox{
	background: url(../images/giftwrap/btn-close.png) no-repeat;
	width: 67px;
	height: 40px;
	float: right;
	text-align:center;
}
#close-giftbox{float: left!important;}
#giftwrap-giftbox-item thead th {
	border-right:1px dashed #d9d9d9;
    color: #8C6239;
    font-size: 14px;
    font-weight: normal;
}
#giftbox-item-div{
	overflow-y:scroll;
	max-height:300px;
	width:100%;
	min-height: 50px;
}
#save-giftbox{
padding: 10px;
float: right;
}
#text_message{clear:both;}
#giftcart-message-textarea{
    background: none repeat scroll 0 0 #F5F5F5;
    border: 3px solid #FFFFFF;
    height: 155px;
    max-height: 100px;
    padding: 5px;
	clear:both;
	width:100%;
	-moz-box-sizing:border-box;
		box-sizing:border-box;
		-moz-background-clip:padding-box !important;
		-webkit-background-clip:padding-box !important;
		background-clip:padding-box !important;}
}

#tinycontent .block-title h3{
	color: #e4015d;
	font-size: 30px;
}

#tinycontent .block-title h3 a{
	color: #e4015d;
	font-size: 30px;
	text-decoration: none;
}

#tinycontent .block-title h3 a:hover{
	text-decoration: underline;
}

#giftbox-giftcard,
#slider-features #features-screen{	

}
#giftwrap-giftbox-paper-div{clear:both;}			
#giftbox-giftcard li#view, #giftbox-giftcard li.nav-left,
#slider-features #features-screen li#view, #slider-features #features-screen li.nav-left{margin-right: 2px!important;}

#giftbox-giftcard li.nav-right,
#slider-features #features-screen li.nav-right{ margin-right: 0;}

#giftbox-giftcard li,
#slider-features #features-screen li{
	float:left;
	list-style:none;

}
#giftbox-giftcard,
#slider-features {
    margin: 0 auto;
}
#giftbox-giftcard .jq-ss-crop,
#slider-features #features-screen .jq-ss-crop{
	float:left;
	border:0 none;
	
}
.featuredproduct-content div.button-add a{	
	background: #2e2e2e;	
	color: #fff;
	font-size: 14px;
	line-height: 33px;
	padding: 0;
	text-decoration: none;
	
}
.check-gift{text-align: left;float: left;}
.check-gift input{
    float: left;
    margin-top: 53px;
    text-align: left;
    width: 21px;
}
.featuredproduct-content div.button-add{
	height:33px;
	background: #2e2e2e;
	width: 97px;
	text-align: center;
	float: right;
	margin-top: 6px;
}
#giftbox-giftcard-div{float:left; width: 100%; }
.btn-giftwrap{
    background: url("../images/giftwrap/btn-giftwrap.gif") no-repeat scroll 0 0 transparent;
    color: #FFFFFF;
    float: left;
    font-size: 14px;
    height: 36px;
    padding-left: 10px;
    padding-top: 33px;
    width: 180px;
	margin-top: 18px;
}
.featuredproduct-content .price{
    color: #8C6239;
    font-size: 20px;
    font-weight: normal;
}
.featuredproduct-content h4.product-name{
    color: #E4015D;
    font-size: 15px;
    font-weight: normal;
    margin-bottom: 10px;
    text-align: center;
    text-decoration: none;
}
.featuredproduct-content{

    margin-bottom: 14px;

    padding: 0 0 0 0;
    text-align: center;

}
.product-featured{
	background: url(../images/home-featured-bg.png) no-repeat ;
	_background: url(../images/home-featured-bg.gif) no-repeat ;

}
#giftbox-giftcard li.nav-left, #giftbox-giftcard li.nav-right,
#slider-features #features-screen li.nav-left, #slider-features #features-screen li.nav-right{
    cursor: pointer;
    margin-right: 0;
    padding: 0;
    width: 20px;
}	
#giftbox-giftcard #left2, #giftbox-giftcard #right2,
#slider-features #features-screen #left,#right{
	display:block;
	height:32px;
	width:20px;
	margin:52px 0 0 !important;
	text-decoration: none;
	overflow:hidden;
	position: relative;
	z-index: 9;
}
#giftbox-giftcard  #left2,
#slider-features #features-screen #left{background:url(../images/giftwrap/btn_prev.gif) top left no-repeat; height: 32px; width: 20px;}

#giftbox-giftcard #right2,
#slider-features #features-screen #right{background:url(../images/giftwrap/btn_next.gif) top right no-repeat;height: 32px; width: 20px;}

#giftbox-giftcard #view2,
#slider-features #view{
    margin: 0;
    overflow: hidden;
    padding: 0;

	
}
#slider-features #images, #giftbox-giftcard #images2{
    border: 1px dashed #ACACAC;
    height: 232px;
    overflow-y: scroll;
    padding: 10px 2px;
	clear:both;

}
#slider-features #images li, #giftbox-giftcard #images2 li{
    /* height: 280px; */

	
}
.img-product-tip{
	top: 20px!important;
	
	z-index:9999;
}
#giftbox-giftcard #images2 li .product-info
#slider-features #images li .product-info,
{float:left;}
#giftbox-giftcard #images2 li .product-info .featuredproduct-image,
#slider-features #images li .product-info .featuredproduct-image a{    
	float: none;
	position:relative;

}
#giftbox-giftcard #images2 li .product-info .featuredproduct-image a.buy-now,
#slider-features #images li .product-info .featuredproduct-image a.buy-now{    
    float: right;
    height: 38px;
    margin-top: -19px;
    width: 110px;
	
}
.no-card {
    position: absolute;
    text-align: center;
    top: 43%;
    width: 100%;
	left:0px;
}
#giftbox-giftcard #images2 li .product-info .product-link,        
#slider-features #images li .product-info .product-link{        
    height: 38px;
}
#giftbox-giftcard #images2 li .product-info .actions
#slider-features #images li .product-info .actions,
{float:right;}
#giftbox-giftcard #images2 .buy-now,
#slider-features #images .buy-now{
    background: url("../images/btn-buynow.png") no-repeat scroll 0 0 transparent;
    _background: url("../images/btn-buynow.gif") no-repeat scroll 0 0 transparent;
    border: 0 none;
	cursor: pointer;
    width: 110px;
	text-decoration:none;
	text-align: center;
}
.jq-ss-crop{
	padding: 0;
	
}
#slider-features #images a.buy-now:hover{
    background: url("../images/btn-buynow-hover.png") no-repeat scroll 0 0 transparent;
    _background: url("../images/btn-buynow-hover.gif") no-repeat scroll 0 0 transparent;
}
#giftbox-giftcard #images2 .buy-now span,
#slider-features #images .buy-now span{
	text-transform: uppercase;
	color: #fff;
	font-size: 16px;
	font-family: Tahoma;
	font-weight: bold;
	line-height: 38px;
}
#giftbox-giftcard #images2 li .item,
#slider-features #images li .item{  text-align: left;}
#giftbox-giftcard #images2 li img,
#slider-features #images li img{
    border: 0 none;
/*     height: 105px;
    width: 131px; */
}
#giftbox-giftcard #images2 li .item .featuredproduct-name,
#slider-features #images li .item .featuredproduct-name{
	color: #000000;
    font-size: 13px;
    text-transform: uppercase;
	font-weight: bold;
    text-decoration: none;
}


/*Wrap type*/
#giftbox-wraptype{
	font-size: 15px;
	float: left;
	width: 100%;
}
#giftbox-wraptype li{
	text-align: left;
	padding:5px;
}
#giftbox-wraptype li input{
	float:left;
	margin:5px;
}
#giftbox-wraptype li label{
	text-align:left;
	margin:10px ;
	margin-top:0px;
}
.checkout-progress li {
    border-top: 10px solid #999999;
    color: #ABB5BA;
    float: left;
    font-weight: bold;
    margin: 0 3px 0 0;
    padding: 2px 0 0;
    text-align: center;
    width: 16%;
}

/* King Update_UE 130610 */


.giftwrap-step p{
	text-align: left;
    font-family: arial;
    font-size: 15px;
    font-weight: normal;
	margin-bottom: 3px !important;
}
/*Gift box*/
.giftbox-title-message{
    color: #8C6239;
    float: left;
    font-family: arial;
    font-size: 15px;
    font-weight: normal;
    padding: 10px 0;
    text-align: left;

}

#help-item-1-info, #help-item-2-info, #help-message-info, #help-qty-wrapped-info, #help-tick-info, #help-wrapped-total-info{
	border: 5px solid #8C939C;
    width: 250px;
	background: none repeat scroll 0 0 #FFFFFF;
    color: #333333;
    font: 11px Arial,Helvetica,sans-serif;
    padding: 5px;
	text-align: left;
}

.no-nothing ,.yes-delete, .no-edit{
	background: url(../images/giftwrap/btn-delete.png) no-repeat !important;
	text-align: center !important;
	border: none;
    padding-bottom: 10px;
	width: 100px !important;
}

#close-giftbox span{
	color: #FFFFFF;
}

.notice-end{
    margin-top: 20px;
}

#giftbox-giftcard #images2 li img, #slider-features #images li img{border:1px solid #d9d9d9;width:100%;}
	.featuredproduct-content .price{margin:5px 0px;display:block;}
	
.helpWrapper{position:relative;}
.displayHelp{position:absolute;display:none; width:300px; font-weight:normal; font-size:11px; text-align:left; background:white; padding:10px; border:4px solid #d9d9d9; top:0px; left:-150px;z-index:9999999;}
.helpWrapper:hover .displayHelp{display:block;}
.featuredproduct-image {
    margin-bottom: 10px;
}


/*++++++++++++++++++++++++++++++++++++++++++++++++++++++RESPONSIVE++++++++++++++++++++++++++++++++++++++++++++++++++++*/
@media all and (min-width: 0px) and (max-width: 320px) {
	#tinybox{width:280px!important;top:300px!important; height:auto!Important; min-height:300px!Important;}
	#tinycontent{display:block!important;}
	#slider-features #images li, #giftbox-giftcard #images2 li{width:50%; padding:5px;-webkit-box-sizing:border-box;
		-moz-box-sizing:border-box;
		box-sizing:border-box;
		-moz-background-clip:padding-box !important;
		-webkit-background-clip:padding-box !important;
		background-clip:padding-box !important;}
	#giftbox_giftcard_null_label{float:none;}
	#giftbox-item-div{width:280px!important; overflow:auto;}
	
	.displayHelp{width:250px;}
	#help-tick .displayHelp{left:-275px!important; top:0px;}
	#help-qty-wrapped .displayHelp{left:-226px;}
	#help-wrapped-total .displayHelp{left:-140px;}
	#help-item-2 .displayHelp{left:-100px;}
	#help-message .displayHelp{left:-219px; }
	.giftwrap_icon:hover .giftwrap_protoClassic{display:none;}
	.helpWrapper,.notice-end{display:none;}
	#giftwrap-giftbox-item tbody tr td .product-name{display:block; width:150px;}
}

@media all and (min-width: 321px) and (max-width: 480px) {
	#tinybox{width:280px!important;top:300px!important; height:auto!Important; min-height:300px!Important;}
	#tinycontent{display:block!important;}
	#slider-features #images li, #giftbox-giftcard #images2 li{width:50%; padding:5px;-webkit-box-sizing:border-box;
		-moz-box-sizing:border-box;
		box-sizing:border-box;
		-moz-background-clip:padding-box !important;
		-webkit-background-clip:padding-box !important;
		background-clip:padding-box !important;}
	#giftbox_giftcard_null_label{float:none;}
	#giftbox-item-div{width:280px!important; overflow:auto;}
	
	.displayHelp{width:250px;}
	#help-tick .displayHelp{left:-275px!important; top:0px;}
	#help-qty-wrapped .displayHelp{left:-226px;}
	#help-wrapped-total .displayHelp{left:-155px;}
	#help-item-2 .displayHelp{left:-175px;}
	#help-message .displayHelp{left:-240px; }
	
	.helpWrapper,.notice-end{display:none;}
	.giftwrap_icon:hover .giftwrap_protoClassic{display:none;}
	#giftwrap-giftbox-item tbody tr td .product-name{display:block; width:150px;}
}

@media all and (min-width: 481px) and (max-width: 720px) {
	#tinybox{width:90%!important;top:300px!important; height:auto!Important; min-height:300px!Important;}
	#tinycontent{display:block!important;}
	#slider-features #images li, #giftbox-giftcard #images2 li{width:33%; padding:5px;-webkit-box-sizing:border-box;
		-moz-box-sizing:border-box;
		box-sizing:border-box;
		-moz-background-clip:padding-box !important;
		-webkit-background-clip:padding-box !important;
		background-clip:padding-box !important;}
	#giftbox_giftcard_null_label{float:none;}
	
	.displayHelp{left:-250px;}
	#help-tick .displayHelp{left:-312px!important; top:0px;}
	#help-qty-wrapped .displayHelp{left:-312px; top:0px;}
	#help-wrapped-total .displayHelp{left:-300px; }
	#help-item-1 .displayHelp{left:-150px; }
	#help-message .displayHelp{left:-150px; }
	
	.helpWrapper,.notice-end{display:none;}
	.giftwrap_icon:hover .giftwrap_protoClassic{display:none;}
	#giftwrap-giftbox-item tbody tr td .product-name{display:block; width:150px;}
}

@media screen and (min-width: 721px) and (max-width: 985px) {
	#tinybox{width:90%!important;top:300px!important; height:auto!Important; min-height:300px!Important;}
	#tinycontent{display:block!important;}
	#slider-features #images li, #giftbox-giftcard #images2 li{width:25%; padding:5px;-webkit-box-sizing:border-box;
		-moz-box-sizing:border-box;
		box-sizing:border-box;
		-moz-background-clip:padding-box !important;
		-webkit-background-clip:padding-box !important;
		background-clip:padding-box !important;}
	#giftbox_giftcard_null_label{float:none;}
	
	#help-tick .displayHelp{left:-310px!important; top:0px;}
	#help-qty-wrapped .displayHelp{left:-250px;}
	.helpWrapper,.notice-end{display:none;}
	.giftwrap_icon:hover .giftwrap_protoClassic{display:none;}
	#giftwrap-giftbox-item tbody tr td .product-name{display:block; width:150px;}
	#giftwrap-giftbox-item  thead th{white-space: normal;}
	
}


@media screen and (min-width: 986px) and (max-width: 1235px) {
	#tinybox{width:900px!important;top:300px!important; height:auto!Important; min-height:300px!Important;}
	#tinycontent{display:block!important;}
	#slider-features #images li, #giftbox-giftcard #images2 li{width:25%; padding:5px;-webkit-box-sizing:border-box;
		-moz-box-sizing:border-box;
		box-sizing:border-box;
		-moz-background-clip:padding-box !important;
		-webkit-background-clip:padding-box !important;
		background-clip:padding-box !important;}
	#giftbox_giftcard_null_label{float:none;}
	
	#help-tick .displayHelp{left:-310px!important;}
	#help-qty-wrapped .displayHelp{left:-250px;}
}

@media screen and (min-width:1236px) {
	#tinybox{width:900px!important;top:300px!important; height:auto!Important; min-height:300px!Important;}
	#tinycontent{display:block!important;}
	#slider-features #images li, #giftbox-giftcard #images2 li{width:25%; padding:5px;
	-webkit-box-sizing:border-box;
		-moz-box-sizing:border-box;
		box-sizing:border-box;
		-moz-background-clip:padding-box !important;
		-webkit-background-clip:padding-box !important;
		background-clip:padding-box !important;}
	#giftbox_giftcard_null_label{float:none; padding:0;display:block;}
	
	#help-tick .displayHelp{left:-310px!important;}
	#help-qty-wrapped .displayHelp{left:-250px;}
}

