.hidden {
    display: none;
}

// Set snap points for admin screen.
.designer_app_wrapper.admin {
    width: 600px;
    margin: 0 auto;

    @include media($large-up) {
        width: 900px;
    }

    @include media($xlarge-up) {
        width: 1170px;
    }
}

#bracelet-workspace {
    & > img {
        left: 68px;
        top: 6px;
    }

    & > .circle {
        left: 68px;
        top: 24px;
    }

    @include media($large-up) {
        & > img {
            left: 118px;
            top: 14px;
        }

        & > .circle {
            left: 118px;
            top: -4px;
        }
    }

    @include media($xlarge-up) {
        & > img {
            left: 118px;
            top: 13px;
        }

        & > .circle {
            left: 88px;
            top: 30px;
        }
    }
}


.admin-controls {
    margin: 2em 0;
    padding: 2em;
    background: lighten($gray-light, 10%);
    color: $gray-dark;

    border: 2px dashed $gray-light;
    border-radius: 4px;

    .admin-options {
        li {
            font-size: 1.1em;
            margin-bottom: 1em;
        }

        label {
            font-weight: bold;

            input[type='checkbox'] {
                margin-right: 0.5em;
            }
        }

        .hint {
            font-size: 0.9em;
            line-height: 1.4em;
            font-style: italic;
            margin: 0.5em 0;
        }
    }
}

.design-instructions {
    .instructions-title {
        font-size: 2em;
    }

    a.close {
        background-color: $purple;
        text-decoration: none;

        &:hover {
            text-decoration: none;
        }
    }
}
