<?xml version="1.0"?>
<config>
    <modules>
        <Magestore_Giftwrap>
            <version>3.3.0</version>
        </Magestore_Giftwrap>
    </modules>
    <frontend>
        <routers>
            <giftwrap>
                <use>standard</use>
                <args>
                    <module>Magestore_Giftwrap</module>
                    <frontName>giftwrap</frontName>
                </args>
            </giftwrap>
        </routers>
        <translate>
            <modules>
                <Magestore_Giftwrap>
                    <files>
                        <default>Magestore_Giftwrap.csv</default>
                    </files>
                </Magestore_Giftwrap>
            </modules>
        </translate>
        <layout>
            <updates>
                <giftwrap>
                    <file>giftwrap.xml</file>
                </giftwrap>
            </updates>
        </layout>
        <events>
            <!-- Bắt event sau khi add product vào cart -->
            <controller_action_predispatch_checkout_cart_add>
                <observers>
                    <magestore_giftwrap_observer>
                        <type>singleton</type>
                        <class>giftwrap/observer</class>
                        <method>addActionPredispatch</method>
                    </magestore_giftwrap_observer>
                </observers>
            </controller_action_predispatch_checkout_cart_add>
            <sales_quote_product_add_after>
                <observers>
                    <magestore_giftwrap_observer>
                        <type>singleton</type>
                        <class>giftwrap/observer</class>
                        <method>productAddAfter</method>
                    </magestore_giftwrap_observer>
                </observers>  
            </sales_quote_product_add_after> 
            <!-- prepare options for product -->
            <catalog_product_type_prepare_full_options>
                <observers>
                    <magestore_giftwrap_observer>
                        <class>giftwrap/observer</class>
                        <method>catalogProductTypePrepareFullOptions</method>
                    </magestore_giftwrap_observer>
                </observers>
            </catalog_product_type_prepare_full_options>
            <catalog_product_type_prepare_lite_options>
                <observers>
                    <magestore_giftwrap_observer>
                        <class>giftwrap/observer</class>
                        <method>catalogProductTypePrepareLiteOptions</method>
                    </magestore_giftwrap_observer>
                </observers>
            </catalog_product_type_prepare_lite_options>
            <!--loki start event clear cart-->
            <controller_action_predispatch_checkout_cart_updatePost>
                <observers>
                    <magestore_giftwrap_observer>
                        <type>singleton</type>
                        <class>giftwrap/observer</class>
                        <method>clearGiftwrap</method>
                    </magestore_giftwrap_observer>
                </observers>
            </controller_action_predispatch_checkout_cart_updatePost>
            <controller_action_predispatch_checkout_cart_updateItemOptions>
                <observers>
                    <magestore_giftwrap_observer>
                        <type>singleton</type>
                        <class>giftwrap/observer</class>
                        <method>updateItemOptionsBefore</method>
                    </magestore_giftwrap_observer>
                </observers>
            </controller_action_predispatch_checkout_cart_updateItemOptions>
            <!--loki end event clear cart-->
            <!--loki start delete product in gift wrap -->
            <controller_action_predispatch_checkout_cart_delete>
                <observers>
                    <magestore_giftwrap_observer>
                        <type>singleton</type>
                        <class>giftwrap/observer</class>
                        <method>deleteproduct</method>
                    </magestore_giftwrap_observer>
                </observers>
            </controller_action_predispatch_checkout_cart_delete>
            <!--loki: end delete product in giftwarp -->			
            <paypal_prepare_line_items>
                <observers>
                    <magestore_giftwrap_paypal_prepare_line_items>
                        <type>singleton</type>
                        <class>giftwrap/giftwrap</class>
                        <method>paypal_prepare_line_items</method>
                    </magestore_giftwrap_paypal_prepare_line_items>
                </observers>
            </paypal_prepare_line_items>
			
            <controller_action_predispatch_checkout_cart_index>
                <observers>
                    <magestore_giftwrap_controller_action_predispatch_checkout_cart_index>
                        <type>singleton</type>
                        <class>giftwrap/giftwrap</class>
                        <method>checkGiftwrap</method>
                    </magestore_giftwrap_controller_action_predispatch_checkout_cart_index>
                </observers>
            </controller_action_predispatch_checkout_cart_index>
            <checkout_cart_update_items_after>
                <observers>
                    <magestore_giftwrap_observer>
                        <type>singleton</type>
                        <class>giftwrap/giftwrap</class>
                        <method>updateGiftwrap</method>
                    </magestore_giftwrap_observer>
                </observers>
            </checkout_cart_update_items_after>
            <checkout_cart_product_update_after>
                <observers>
                    <magestore_giftwrap_observer>
                        <type>singleton</type>
                        <class>giftwrap/observer</class>
                        <method>updateItemOptions</method>
                    </magestore_giftwrap_observer>
                </observers>
            </checkout_cart_product_update_after>
            <!--<checkout_multishipping_controller_success_action>
                    <observers>
                            <sales_convert_quote>
                                    <class>giftwrap/observer</class>
                                    <method>addOrder</method>
                            </sales_convert_quote>
                    </observers>
            </checkout_multishipping_controller_success_action>-->
            <!-- sales_quote_merge_after>
                    <observers>
                            <magestore_giftwrap_observer>
                                    <type>singleton</type>
                                    <class>giftwrap/giftwrap</class>
                                    <method>beforeMerge</method>
                            </magestore_giftwrap_observer>
                    </observers>
            </sales_quote_merge_after-->
            <sales_quote_remove_item>
                <observers>
                    <magestore_giftwrap_observer_remove_item>
                        <type>singleton</type>
                        <class>giftwrap/giftwrap</class>
                        <method>removeItem</method>
                    </magestore_giftwrap_observer_remove_item>
                </observers>
            </sales_quote_remove_item>
            <!-- <checkout_type_onepage_save_order_after> <observers> <magestore_giftwrap_observer> 
            <type>singleton</type> <class>giftwrap/giftwrap</class> <method>afterSaveOrder</method> 
            </magestore_giftwrap_observer> </observers> </checkout_type_onepage_save_order_after> -->
            <sales_order_save_after>
                <observers>
                    <magestore_giftwrap_observer>
                        <type>singleton</type>
                        <class>giftwrap/giftwrap</class>
                        <method>afterSaveOrder</method>
                    </magestore_giftwrap_observer>
                </observers>
            </sales_order_save_after>

            <customer_login>
                <observers>
                    <magestore_giftwrap_observer>
                        <type>singleton</type>
                        <class>giftwrap/giftwrap</class>
                        <method>afterSaveLogin</method>
                    </magestore_giftwrap_observer>
                </observers>
            </customer_login>
            <!-- Hai.Ta -->
            <controller_action_predispatch_sales_order_reorder>
                <observers>
                    <magestore_giftwrap_controller_action_predispatch_sales_order_reorder>
                        <type>singleton</type>
                        <class>giftwrap/observer</class>
                        <method>saveItemsBeforeReorder</method>
                    </magestore_giftwrap_controller_action_predispatch_sales_order_reorder>
                </observers>
            </controller_action_predispatch_sales_order_reorder>		 			
            <!-- end Hai.Ta -->
            
        </events>
    </frontend>
    <admin>
        <routers>
            <admingiftwrap>
                <use>admin</use>
                <args>
                    <module>Magestore_Giftwrap</module>
                    <frontName>admingiftwrap</frontName>
                </args>
            </admingiftwrap>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <giftwrap>
                    <file>giftwrap.xml</file>
                </giftwrap>
            </updates>
        </layout>
        <events>
            <adminhtml_sales_order_create_process_data_before>
                <observers>
                    <adminhtml_sales_order_create_process_data_before>
                        <type>singleton</type>
                        <class>giftwrap/observer</class>
                        <method>processDataBefore</method>
                    </adminhtml_sales_order_create_process_data_before>
                </observers>
            </adminhtml_sales_order_create_process_data_before>
            <giftwrap_style_save_after>
                <observers>
                    <giftwrap_style_delete_after>
                        <type>singleton</type>
                        <class>giftwrap/giftwrap</class>
                        <method>deleteSelection</method>
                    </giftwrap_style_delete_after>
                </observers>
            </giftwrap_style_save_after>
            <giftwrap_giftcard_save_after>
                <observers>
                    <giftwrap_giftcard_save_after>
                        <type>singleton</type>
                        <class>giftwrap/giftwrap</class>
                        <method>deleteSelectionGiftcard</method>
                    </giftwrap_giftcard_save_after>
                </observers>
            </giftwrap_giftcard_save_after>
            <sales_order_save_after>
                <observers>
                    <magestore_giftwrap_observer>
                        <type>singleton</type>
                        <class>giftwrap/observer</class>
                        <method>afterSaveOrder</method>
                    </magestore_giftwrap_observer>
                </observers>
            </sales_order_save_after>
            <!-- Hai.Ta -->
            <controller_action_predispatch_adminhtml_sales_order_create_reorder>
                <observers>
                    <magestore_giftwrap_controller_action_predispatch_adminhtml_sales_order_create_reorder>
                        <type>singleton</type>
                        <class>giftwrap/observer</class>
                        <method>saveSessionBeforeReorder</method>
                    </magestore_giftwrap_controller_action_predispatch_adminhtml_sales_order_create_reorder>
                </observers>
            </controller_action_predispatch_adminhtml_sales_order_create_reorder>				
            <controller_action_predispatch_adminhtml_sales_order_create_index>
                <observers>
                    <magestore_giftwrap_controller_action_predispatch_adminhtml_sales_order_create_index>
                        <type>singleton</type>
                        <class>giftwrap/observer</class>
                        <method>saveAdminItemsReorder</method>
                    </magestore_giftwrap_controller_action_predispatch_adminhtml_sales_order_create_index>
                </observers>
            </controller_action_predispatch_adminhtml_sales_order_create_index>	
            <!-- end Hai.Ta -->
            <!-- TrungHa -->
            <sales_order_invoice_save_after>
                <observers>
                    <giftwrap>
                        <class>giftwrap/observer</class>
                        <method>setItemGiftWrapUsed</method>
                    </giftwrap>
                </observers>
            </sales_order_invoice_save_after>
            <sales_order_creditmemo_save_after>
                <observers>
                    <giftwrap>
                        <class>giftwrap/observer</class>
                        <method>refundSaveAfter</method>
                    </giftwrap>
                </observers>
            </sales_order_creditmemo_save_after>
            <!-- end TrungHa -->
        </events>
        <blocks>
            <widget>
                <rewrite>
                    <grid_massaction>Magestore_Giftwrap_Block_Adminhtml_Massaction</grid_massaction>
                </rewrite>
            </widget>
            
        </blocks>
    </adminhtml>
    <global>
        <models>
            <!--start loki rewrite enable order sendmail-->
            <sales>
                <rewrite>
                    <order>Magestore_Giftwrap_Model_Ordermail</order>
                </rewrite>
            </sales>
            <core>
                <rewrite>
                    <layout>Magestore_Giftwrap_Model_Layout</layout>
                </rewrite>
            </core>
            <!--end loki-->
            
            <giftwrap>
                <class>Magestore_Giftwrap_Model</class>
                <resourceModel>giftwrap_mysql4</resourceModel>
            </giftwrap>
            <giftwrap_mysql4>
                <class>Magestore_Giftwrap_Model_Mysql4</class>
                <entities>
                    <giftwrap>
                        <table>giftwrap</table>
                    </giftwrap>
                    <selection>
                        <table>giftwrap_selection</table>
                    </selection>
                    <giftcard>
                        <table>giftwrap_giftcard</table>
                    </giftcard>
                    <selectionitem>
                        <table>giftwrap_item</table>
                    </selectionitem>
                    <order>
                        <table>giftwrap_sales_order</table>
                    </order>
                </entities>
            </giftwrap_mysql4>

            <!-- paypal>
                    <rewrite>
                            <cart>Magestore_Giftwrap_Model_Paypal_Cart</cart>
                    </rewrite>
            </paypal-->
            <sales>
                <rewrite>
                    <order_pdf_invoice>Magestore_Giftwrap_Model_Sales_Order_Pdf_Invoice</order_pdf_invoice>
                </rewrite>
            </sales>
            <sales>
                <rewrite>
                    <order_pdf_creditmemo>Magestore_Giftwrap_Model_Sales_Order_Pdf_Creditmemo</order_pdf_creditmemo>
                </rewrite>
            </sales>
            <sales>
                <rewrite>
                    <order_pdf_shipment>Magestore_Giftwrap_Model_Sales_Order_Pdf_Shipment</order_pdf_shipment>
                </rewrite>
            </sales>
            <shipping>
                <rewrite>
                    <carrier_freeshipping>Magestore_Giftwrap_Model_Shipping_Carrier_Freeshipping</carrier_freeshipping>
                </rewrite>
            </shipping>
            <checkout>
                <rewrite>
                    <type_multishipping_state>Magestore_Giftwrap_Model_Multishipping_State</type_multishipping_state>
                </rewrite>
            </checkout>		
        </models>
        <resources>
            <giftwrap_setup>
                <setup>
                    <module>Magestore_Giftwrap</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </giftwrap_setup>
            <giftwrap_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </giftwrap_write>
            <giftwrap_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </giftwrap_read>
        </resources>
        <blocks>
            <giftwrap>
                <class>Magestore_Giftwrap_Block</class>
            </giftwrap>
            <!--Giftwarp filter King_211112-->
            <!-- <adminhtml>
                    <rewrite>
                            <widget_grid_massaction>Magestore_Giftwrap_Block_Adminhtml_Massaction</widget_grid_massaction>
                            <sales_order_grid>Magestore_Giftwrap_Block_Adminhtml_Sales_Order_Grid</sales_order_grid>					
                    </rewrite>
            </adminhtml> -->
        </blocks>
        <helpers>
            <giftwrap>
                <class>Magestore_Giftwrap_Helper</class>
            </giftwrap>
        </helpers>
        <sales>
            <quote>
                <totals>					
                    <giftwrap>
                        <class>giftwrap/sales_quote_address_total_giftwrap</class>
                        <after>tax</after>
                        <before>grand_total</before>
                    </giftwrap>
                    <giftwraptax>
                        <class>giftwrap/sales_quote_address_total_giftwraptax</class>
                        <after>giftwrap</after>
                    </giftwraptax>
                    <admingiftwrap>
                        <class>giftwrap/sales_quote_address_total_admingiftwrap</class>
                        <before>grand_total</before>
                    </admingiftwrap> 
                </totals>
            </quote>
            <order_invoice>
                <totals>
                    <giftwrap>
                        <class>giftwrap/sales_order_invoice_total_giftwrap</class>
                    </giftwrap>
                </totals>
            </order_invoice>
            <!--TrungHa: calculate giftwrap amount to refund-->
            <order_creditmemo>
                <totals>
                    <giftwrap>
                        <class>giftwrap/sales_order_creditmemo_total_giftwrap</class>
                    </giftwrap>
                </totals>
            </order_creditmemo>
            <!-- TrungHa: end -->
        </sales>
        <fieldsets>
            <sales_convert_quote_address>
                <giftwrap_amount>
                    <to_order>*</to_order>
                </giftwrap_amount>
                <giftwrap_tax>
                    <to_order>*</to_order>
                </giftwrap_tax>
            </sales_convert_quote_address>
            <sales_convert_quote_item>
                <giftwrap_tax>
                    <to_order_item>*</to_order_item>
                </giftwrap_tax>
            </sales_convert_quote_item>
        </fieldsets>
        <pdf>
            <totals>
                <giftwrap translate="title">
                    <title>Giftwrap Amount</title>
                    <source_field>giftwrap_amount</source_field>
                    <model>giftwrap/order_pdf_amount</model>
                    <font_size>7</font_size>
                    <display_zero>0</display_zero>
                    <sort_order>450</sort_order>
                </giftwrap>
            </totals>
            <giftwraptax translate="title">
                <title>Giftwrap Tax</title>
                <source_field>giftwrap_tax</source_field>
                <model>giftwrap/order_pdf_giftwraptax</model>
                <font_size>7</font_size>
                <display_zero>0</display_zero>
                <sort_order>451</sort_order>
            </giftwraptax>
        </pdf>
    </global>
    <default>
        <giftwrap>
            <general>
                <active>1</active>
                <confirm_delete>0</confirm_delete>
                <use_card>1</use_card>
                <enable_note>1</enable_note>
            </general>
            <style>
                <giftwrap_color>e9292a</giftwrap_color>
                <icon_image>default/present.jpg</icon_image>
                <giftwrap_view_type>radio</giftwrap_view_type>
            </style>
            <calculation>
                <amount_on_number_items>0</amount_on_number_items>
                <maximum_items_wrapall>4</maximum_items_wrapall>
                <tax>0</tax>
            </calculation>
        </giftwrap>
        <sales>
            <totals_sort>
                <giftwrap>60</giftwrap>
                <giftwraptax>61</giftwraptax>
            </totals_sort>
        </sales>
    </default>
</config>