button.image-annotate-add {
    background: url("../images/btn_gray_bg.gif") repeat-x scroll 0 100% #FFFFFF;
    border-color: #CCCCCC #AAAAAA #AAAAAA #CCCCCC;
    color: #555555;
    border-style: solid;
    border-width: 1px;
    cursor: pointer;
    font: bold 12px arial,helvetica,sans-serif;
    text-align: center !important;
    white-space: nowrap;
    float:right;
    margin-top: 5px;
    padding-top:1px;
    padding-left:4px;
}

.image-annotate-add span {
    padding: 5px 0px 5px 35px;
    background-repeat: no-repeat;
    line-height: 1.6em;
    background-image: url("../images/icon_btn_add.png");
}

.image-annotate-canvas {
    border: solid 1px #ccc;
    background-position: left top;
    background-repeat: no-repeat;
    display: block;
    margin: 0;
    position: relative;
}
.image-annotate-view {
    display: none;
    position: relative;
}
.image-annotate-area {
    border: 1px solid #000000;
    position: absolute;
}
.image-annotate-area div {
    border: 1px solid #FFFFFF;
    display: block;
}
.image-annotate-area-hover div {
    border-color: yellow !important;
}
.image-annotate-area-editable {
    cursor: pointer;
}
.image-annotate-area-editable-hover div {
    border-color: #00AD00 !important;
}
.image-annotate-note {
    background: #E7FFE7 none repeat scroll 0 0;
    border: solid 1px #397F39;
    color: #000;
    display: none;
    font-family: Verdana, Sans-Serif;
    font-size: 12px;
    max-width: 200px;
    padding: 3px 7px;
    position: absolute;
}
.image-annotate-note .actions {
    display: block;
    font-size: 80%;
}
.image-annotate-edit {
    display: none;
}
#image-annotate-edit-form {
    background: #FFFEE3 none repeat scroll 0 0;
    border: 1px solid #000000;
    padding: 15px 7px;
    position: absolute;
    width: 260px;
    text-align: center;
}
#image-annotate-edit-form form {
    clear: right;
    margin: 0 !important;
    padding: 5px 0 5px 0;
    z-index: 999;
}

#image-annotate-edit-form p{
    text-align: right;
    margin-right:10px;
}
#link-data, #product-data {
    display:none;
    margin-top: 5px;
}
#image-annotate-edit-form input[type="radio"]{
    display:block;
    float:left;
    margin-top:2px;
    margin-right:3px;
}
#radio-buttons span{
    display:inline-block;
    margin:0 5px 5px 5px;
    text-align:left;  
}
#radio-buttons {
    margin-left:15px;
}
#image-annotate-edit-form p input{
    width: 155px;
    margin-left:5px;
}
#image-annotate-sku {
    width: 125px !important;
}
#image-annotate-edit-form .box {
    margin: 0;
}
#image-annotate-edit-form input.form-text, #image-annotate-edit-form #edit-comment-wrapper textarea {
    width: 90%;
}
#image-annotate-edit-form textarea {
    height: 50px;
    font-family: Verdana, Sans-Serif;
    font-size: 12px;    
    width: 248px;
}
#image-annotate-edit-form fieldset {
    background: transparent none repeat scroll 0 0;
}
#image-annotate-edit-form .form-item {
    margin: 0 0 5px;
}
#image-annotate-edit-form .form-button, #image-annotate-edit-form .form-submit {
    margin: 0;
}

.image-annotate-edit-area {
    border: 1px solid #000;
    cursor: move;
    display: block;
    height: 60px;
    left: 10px;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 10px;
    width: 60px;
}
.image-annotate-edit-area .ui-resizable-handle {
    opacity: 0.8;
}

.image-annotate-edit-area:before {
    position:absolute;
    display:block; 
    content:''; 
    border:1px solid #FFF; 
    height:100%; 
    width:100%; 
    box-sizing: border-box; 
    -moz-box-sizing: border-box; 
    -webkit-box-sizing: border-box;
}
#image-annotate-edit-form button {
    background: url("../images/btn_gray_bg.gif") repeat-x scroll 0 100% #FFFFFF;
    border-color: #CCCCCC #AAAAAA #AAAAAA #CCCCCC;
    color: #555555;
    float:left;
    border-style: solid;
    border-width: 1px;
    cursor: pointer;
    font: bold 12px arial,helvetica,sans-serif;
    text-align: center !important;
    white-space: nowrap;
    margin-top: 10px;
    margin-left:15px;
    margin-right:0px;
    padding-top:1px;
    padding-left:4px;
}

#image-annotate-edit-form button span {
    padding: 0px 0px 5px 20px;
    background-repeat: no-repeat;
    line-height: 1.35em;
}
    
.image-annotate-edit-ok span {
   background: url("../images/ok_btn_icon.png") no-repeat;
}
#image-annotate-edit-form button.image-annotate-edit-delete span{
    padding: 1px 0px 5px 20px;
    background: url(../images/delete_btn_icon.png) no-repeat;
}
.image-annotate-edit-close span {
    background: url(../images/cancel_btn_icon.png) no-repeat;
}
.ui-resizable {
    position: relative;
}
.ui-resizable-handle {
    position: absolute;
    font-size: 0.1px;
    z-index: 99999;
    display: block;
}
.ui-resizable-disabled .ui-resizable-handle, .ui-resizable- autohide .ui-resizable-handle {
    display: block;
}
.ui-resizable-n {
    cursor: n-resize;
    height: 7px;
    width: 100%;
    top: -5px;
    left: 0px;
}
.ui-resizable-s {
    cursor: s-resize;
    height: 7px;
    width: 100%;
    bottom: -5px;
    left: 0px;
}
.ui-resizable-e {
    cursor: e-resize;
    width: 7px;
    right: -5px;
    top: 0px;
    height: 100%;
}
.ui-resizable-w {
    cursor: w-resize;
    width: 7px;
    left: -5px;
    top: 0px;
    height: 100%;
}
.ui-resizable-se {
    cursor: se-resize;
    width: 12px;
    height: 12px;
    right: 1px;
    bottom: 1px;
}
.ui-resizable-sw {
    cursor: sw-resize;
    width: 9px;
    height: 9px;
    left: -5px;
    bottom: -5px;
}
.ui-resizable-nw {
    cursor: nw-resize;
    width: 9px;
    height: 9px;
    left: -5px;
    top: -5px;
}
.ui-resizable-ne {
    cursor: ne-resize;
    width: 9px;
    height: 9px;
    right: -5px;
    top: -5px;
}

.hotspots-msg {
    display:block;
    position:absolute;
    width:100%;  
    font-weight: bold;    
    text-align:center;
    font-size:14px;
    color: #FFFFFF;
    text-shadow: #000000 2px 2px 6px;
}

.products-link{
    display:block;
    width:100%;  
    font-weight: bold;    
    text-align:center;
    font-size:14px;
    color: #FFFFFF;
    padding-top: 10px;
    padding-bottom: 30px;
}

.products-link a {
    float:right;
    padding-right: 16px;
    background-image: url("../images/link_external.png");
    background-repeat: no-repeat;
    background-position: right center;
    font-weight: normal;
    color:#EA7601;
}
