<?xml version="1.0"?>
<config>
    <modules>
        <Queldorei_Shoppercategories>
            <version>0.1.2</version>
        </Queldorei_Shoppercategories>
    </modules>
    <admin>
        <routers>
			<shoppercategories>
				<use>admin</use>
				<args>
					<module>Queldorei_Shoppercategories</module>
					<frontName>shoppercategories</frontName>
				</args>
			</shoppercategories>
        </routers>
    </admin>
    <adminhtml>
		<menu>
			<queldorei translate="title" module="shoppercategories">
				<title>Queldorei</title>
				<sort_order>9999</sort_order>
				<children>
                    <shopper translate="title" module="shoppercategories">
                        <title>Shopper</title>
                        <sort_order>10</sort_order>
                        <children>
                            <shoppercategories translate="title" module="shoppercategories">
                                <title>Categories Color Schemes</title>
                                <sort_order>120</sort_order>
                                <action>shoppercategories/adminhtml_shoppercategories</action>
                            </shoppercategories>
                        </children>
                    </shopper>
				</children>
			</queldorei>
		</menu>
		<acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
                <admin>
                    <children>
                        <queldorei>
                            <title>Queldorei</title>
                            <children>
                                <shopper>
                                    <title>Shopper</title>
                                    <children>
                                        <shoppercategories>
                                            <title>Categories Color Schemes</title>
                                        </shoppercategories>
                                    </children>
                                </shopper>
                            </children>
                        </queldorei>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>   
    <global>
        <models>
            <shoppercategories>
                <class>Queldorei_Shoppercategories_Model</class>
                <resourceModel>shoppercategories_mysql4</resourceModel>
            </shoppercategories>
            <shoppercategories_mysql4>
                <class>Queldorei_Shoppercategories_Model_Mysql4</class>
                <entities>
                    <scheme>
                        <table>shopper_category_scheme</table>
                    </scheme>
	                <scheme_store>
                        <table>shopper_category_scheme_store</table>
                    </scheme_store>
                </entities>
            </shoppercategories_mysql4>
        </models>
        <resources>
            <shoppercategories_setup>
                <setup>
                    <module>Queldorei_Shoppercategories</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </shoppercategories_setup>
            <shoppercategories_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </shoppercategories_write>
            <shoppercategories_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </shoppercategories_read>
        </resources>
        <blocks>
            <shoppercategories>
                <class>Queldorei_Shoppercategories_Block</class>
            </shoppercategories>
        </blocks>
        <helpers>
            <shoppercategories>
                <class>Queldorei_Shoppercategories_Helper</class>
            </shoppercategories>
        </helpers>
    </global>
</config>