<div class='share-design-wrapper'>

    <div class='design-img'>
        <img ng-src="{{design.snapshot}}" alt="{{design.name}}" />
    </div>

    <div class='sharing'>
        <!-- AddThis Button BEGIN -->
        <div class="addthis_toolbox addthis_default_style addthis_32x32_style">
            <a class="addthis_button_facebook">
                <img ng-src="{{skinUrlPrefix}}images/addthis_facebook.png" width="34" height="34" alt="Share on Facebook" />
            </a>
            <a class="addthis_button_twitter">
                <img ng-src="{{skinUrlPrefix}}images/addthis_twitter.png" width="34" height="34" alt="Share on Twitter" />
            </a>
            <a class="addthis_button_pinterest_share">
                <img ng-src="{{skinUrlPrefix}}images/addthis_pinterest.png" width="34" height="34" alt="Share on Pintrest" />
            </a>
            <a class="addthis_button_google_plusone_share">
                <img ng-src="{{skinUrlPrefix}}images/addthis_google-plus.png" width="34" height="34" alt="Share on Google+" />
            </a>
            <a class="addthis_button_email">
                <img ng-src="{{skinUrlPrefix}}images/addthis_email.png" width="34" height="34" alt="Share via Email" />
            </a>
        </div>
        <script type="text/javascript">var addthis_config = {"data_track_addressbar":true};</script>
        <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-536002b20b3319cf"></script>
        <!-- AddThis Button END -->
    </div>
</div>
