<?xml version="1.0"?>
<config>
    <tabs>
        <xtento translate="label">
            <label><![CDATA[<img src="//www.xtento.com/media/images/extension_logo.png" alt="XTENTO" height="20" style="vertical-align:bottom;margin-left:-1px;"/> XTENTO Extensions]]></label>
            <sort_order>650</sort_order>
        </xtento>
    </tabs>
    <sections>
        <gridactions translate="label" module="gridactions">
            <label>Simplify Bulk Order Processing</label>
            <tab>xtento</tab>
            <sort_order>250</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>0</show_in_website>
            <show_in_store>0</show_in_store>
            <groups>
                <general translate="label">
                    <label>Extension Configuration</label>
                    <frontend_type>text</frontend_type>
                    <!-- -->
                    <frontend_model>xtcore/system_config_form_xtento_module</frontend_model>
                    <data_model>gridactions/system_config_backend_import_server</data_model>
                    <module_name>Xtento_GridActions</module_name>
                    <!-- -->
                    <sort_order>1</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>0</show_in_website>
                    <show_in_store>0</show_in_store>
                    <expanded>1</expanded>
                    <comment>
                        <![CDATA[
                    <script>
                    function setCommentHtml(message) {
                        if (Prototype.Browser.IE) {
                            $('gridactions_general_serial').next('p').outerHTML = message;
                        } else {
                            $('gridactions_general_serial').next('p').innerHTML = message;
                        }
                    }
                    Event.observe(window, 'load', function() {
                        if ($('gridactions_general_server_name')) {
                            $('gridactions_general_server_name').style.backgroundColor='#f0f0f0';
                            $('gridactions_general_server_name').disable();
                            if ($('row_gridactions_general_server')) {
                                $('row_gridactions_general_server').hide();
                            }
                        }

                        if ($('gridactions_general_serial') && $('gridactions_general_serial').value !== '' && $('gridactions_general_server') && $('gridactions_general_server').value !== '') {
                            if ($('gridactions_general_serial').value.length !== 40) {
                                setCommentHtml('<a href="http://www.xtento.com" target="_blank"><img src="//www.xtento.com/license/check/?d='+$('gridactions_general_server').value+'" border="0" style="margin-top: 4px;"/></a>');
                            } else {
                                if (typeof $('gridactions_general_serial').nextSibling !== 'undefined' && typeof $('gridactions_general_serial').nextSibling.nextSibling !== 'undefined') {
                                    setCommentHtml('<a href="http://www.xtento.com" target="_blank"><img src="//www.xtento.com/license/check/?d='+$('gridactions_general_server').value+'" border="0" style="margin-top: 4px;"/></a>');
                                }
                            }
                        } else {
                            setCommentHtml('<a href="http://www.xtento.com" target="_blank"><img src="//www.xtento.com/license/check/?d='+$('gridactions_general_server').value+'" border="0" style="margin-top: 4px;"/></a>');
                        }
                    });
                    </script>
                    ]]>
                    </comment>
                    <fields>
                        <heading translate="label">
                            <label>General Configuration</label>
                            <frontend_model>xtcore/system_config_form_field_heading</frontend_model>
                            <sort_order>0</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                        </heading>
                        <server_name translate="label">
                            <label>Server Name</label>
                            <frontend_type>text</frontend_type>
                            <backend_model>gridactions/system_config_backend_import_servername</backend_model>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </server_name>
                        <serial translate="label">
                            <label>License Key</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>5</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                            <comment>Enter your license key here</comment>
                        </serial>
                        <enabled translate="label">
                            <label>Module Enabled</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <backend_model>gridactions/system_config_backend_import_enabled</backend_model>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                            <comment>A valid license key is required in order to enable the module.</comment>
                        </enabled>
                        <server translate="label">
                            <label/>
                            <frontend_type>hidden</frontend_type>
                            <backend_model>gridactions/system_config_backend_import_server</backend_model>
                            <sort_order>25</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </server>
                        <heading_module translate="label">
                            <label>Extension Configuration</label>
                            <frontend_model>xtcore/system_config_form_field_heading</frontend_model>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                        </heading_module>
                        <actions translate="label">
                            <label>Enabled Grid Actions</label>
                            <frontend_type>multiselect</frontend_type>
                            <source_model>gridactions/system_config_source_actions</source_model>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                            <comment>
                                <![CDATA[Select multiple actions by holding down Shift or Ctrl while selecting actions.<br/>Delete order function: Please note that only canceled orders without invoices, shipments and creditmemos can be deleted.]]></comment>
                        </actions>
                        <do_capture translate="label">
                            <label>Capture payment for invoice</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>25</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                            <comment>This will try to capture the payment at the payment gateway, i.e. charge the credit
                                card if you authorized the payment.
                            </comment>
                        </do_capture>
                        <set_paid translate="label">
                            <label>Set invoice status to paid</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>30</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </set_paid>
                        <!--<capture_methods_excluded translate="label">
                            <label>Select payment methods where payment should NOT be captured</label>
                            <frontend_type>multiselect</frontend_type>
                            <source_model>gridactions/system_config_source_payment_methods</source_model>
                            <sort_order>32</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                            <comment>
                                <![CDATA[Select multiple payment methods by holding down Shift or Ctrl while selecting methods. The module will then NOT capture the payment for the selected payment methods when creating the invoice.]]></comment>
                        </capture_methods_excluded>-->
                        <heading_status translate="label">
                            <label>Order Status Configuration</label>
                            <frontend_model>xtcore/system_config_form_field_heading</frontend_model>
                            <sort_order>35</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </heading_status>
                        <change_status_invoice translate="label">
                            <label>Set custom order status after invoicing order</label>
                            <frontend_type>select</frontend_type>
                            <source_model>gridactions/system_config_source_order_status</source_model>
                            <sort_order>40</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                            <comment>A custom order status can be set for an order after running the Invoice action from
                                the Sales > Order Grid. This overrides the "Processing" status which Magento would
                                assign.
                            </comment>
                        </change_status_invoice>
                        <change_status_ship translate="label">
                            <label>Set custom order status after shipping order</label>
                            <frontend_type>select</frontend_type>
                            <source_model>gridactions/system_config_source_order_status</source_model>
                            <sort_order>50</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                            <comment>A custom order status can be set for an order after running the Ship action from
                                the Sales > Order Grid. This overrides the "Complete" status which Magento would assign.
                            </comment>
                        </change_status_ship>
                        <change_status_complete translate="label">
                            <label>Set custom order status after completing order</label>
                            <frontend_type>select</frontend_type>
                            <source_model>gridactions/system_config_source_order_status</source_model>
                            <sort_order>60</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                            <comment>A custom order status can be set for an order after running the Complete action
                                from the Sales > Order Grid. This overrides the "Complete" status which Magento would
                                assign.
                            </comment>
                        </change_status_complete>
                        <force_status_change translate="label">
                            <label>Force status change</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>65</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                            <comment>Having trouble changing the order status for certain orders? Only if yes, enable this.</comment>
                        </force_status_change>
                        <heading_grid translate="label">
                            <label>Grid Configuration</label>
                            <frontend_model>xtcore/system_config_form_field_heading</frontend_model>
                            <sort_order>70</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </heading_grid>
                        <add_trackingnumber_from_grid translate="label">
                            <label>Add tracking numbers from grid</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>80</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                            <comment>Show input fields to add tracking numbers from the Sales > Orders grid</comment>
                        </add_trackingnumber_from_grid>
                        <add_trackingnumber_from_grid_combined translate="label">
                            <label>Combine carrier/tracking number field in one column in grid</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>82</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                            <comment>Show input fields to add tracking numbers from the Sales > Orders grid</comment>
                        </add_trackingnumber_from_grid_combined>
                        <add_trackingnumber_from_grid_shipped translate="label">
                            <label>Ability to add tracking numbers to already shipped orders</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>85</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                            <comment>Show input fields to add tracking numbers from the Sales > Orders grid EVEN if the order has been already shipped.</comment>
                        </add_trackingnumber_from_grid_shipped>
                        <default_carrier translate="label">
                            <label>Default tracking carrier</label>
                            <frontend_type>select</frontend_type>
                            <source_model>xtcore/system_config_source_carriers</source_model>
                            <sort_order>90</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                            <comment><![CDATA[Default carrier selected for adding tracking numbers from the Sales > Orders grid<br/><br/>Looking for a way to add custom carriers/tracking methods? Check out the <a href="http://www.xtento.com/magento-extensions/magento-custom-generic-carrier-trackers-extension.html" target="_blank">Custom Carrier Trackers</a> extension.]]>
                            </comment>
                        </default_carrier>
                    </fields>
                </general>
            </groups>
        </gridactions>
    </sections>
</config>
<!--
/**
 * Product:       Xtento_GridActions (1.7.7)
 * ID:            o5J5Fxf1uEhWScFFa24PUq6DVEzgtn6EKR9tAUroEmE=
 * Packaged:      2014-08-04T20:41:36+00:00
 * Last Modified: 2013-06-22T17:51:27+02:00
 * File:          app/code/local/Xtento/GridActions/etc/system.xml
 * Copyright:     Copyright (c) 2014 XTENTO GmbH & Co. KG <info@xtento.com> / All rights reserved.
 */
-->