/////////////////////////////////////
// Layout
/////////////////////////////////////

.designer_app_wrapper {
    margin-bottom: 3em;

    * {
        @include box-sizing(border-box);
    }
}

.design-ui-wrapper {
    @include clearfix;
}

.design-ui-wrapper,
.items-grid {
    width: 100%;
}

.items-grid {
    @include transition(all 1s ease);
    @include transform(translateX(500px));
    position: absolute;
    top: 40px;
    right: 0;
    width: 500px;
    box-shadow: 0 0 20px rgba(#000, 0.2);
    opacity: 0;
    z-index: 10;

    &.open {
        @include transform(translateX(-50px));
        opacity: 1;
    }
}

@include media($large-up) {

    .items-grid {
        @include transform(translateX(700px));
        width: 700px;

        &.open {
            @include transform(translateX(-100px));
        }
    }
}

@include media($xlarge-up) {

    .design-ui-wrapper {
        float: left;
        width: 49%;
    }

    .items-grid {
        @include transition(all 0s);
        @include transform(translateX(0));
        position: static;
        top: auto;
        right: auto;
        float: right;
        width: 49%;
        opacity: 1;
        box-shadow: none;
    }
}
