<?xml version="1.0"?>
<config>
    <modules>
        <Queldorei_Shopperslideshow>
            <version>1.5.0</version>
        </Queldorei_Shopperslideshow>
    </modules>
    <admin>
        <routers>
			<shopperslideshow>
				<use>admin</use>
				<args>
					<module>Queldorei_Shopperslideshow</module>
					<frontName>shopperslideshow</frontName>
				</args>
			</shopperslideshow>
        </routers>
    </admin>
    <adminhtml>
		<menu>
			<queldorei translate="title" module="shopperslideshow">
				<title>Queldorei</title>
				<sort_order>9999</sort_order>
				<children>
                    <shopper translate="title" module="shopperslideshow">
                        <title>Shopper</title>
                        <sort_order>10</sort_order>
                        <children>
                            <shopperslideshow translate="title" module="shopperslideshow">
                                <title>Slideshow</title>
                                <sort_order>120</sort_order>
                                <children>
                                    <items translate="title" module="shopperslideshow">
                                        <title>Flexslider Slides</title>
                                        <sort_order>0</sort_order>
                                        <action>shopperslideshow/adminhtml_shopperslideshow</action>
                                    </items>
                                    <revolution_items translate="title" module="shopperslideshow">
                                        <title>Revolution slider Slides</title>
                                        <sort_order>0</sort_order>
                                        <action>shopperslideshow/adminhtml_shopperrevolution</action>
                                    </revolution_items>
                                    <configuration>
                                        <title>Configuration</title>
                                        <sort_order>1</sort_order>
                                        <action>adminhtml/system_config/edit/section/shopperslideshow</action>
                                    </configuration>
                                </children>
                            </shopperslideshow>
                        </children>
                    </shopper>
				</children>
			</queldorei>
		</menu>
		<acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <shopperslideshow>
                                            <title>Shopper Slideshow</title>
                                        </shopperslideshow>
                                    </children>
                                </config>
                            </children>
                        </system>
                        <queldorei>
                            <title>Queldorei</title>
                            <children>
                                <shopper>
                                    <title>Shopper</title>
                                    <children>
                                        <shopperslideshow>
                                            <title>Slideshow</title>
                                            <children>
                                                <items>
                                                    <title>Flexslider Slides</title>
                                                </items>
                                                <revolution_items>
                                                    <title>Revolution slider Slides</title>
                                                </revolution_items>
                                                <configuration>
                                                    <title>Configuration</title>
                                                </configuration>
                                            </children>
                                        </shopperslideshow>
                                    </children>
                                </shopper>
                            </children>
                        </queldorei>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>   
    <global>
        <models>
            <shopperslideshow>
                <class>Queldorei_Shopperslideshow_Model</class>
                <resourceModel>shopperslideshow_mysql4</resourceModel>
            </shopperslideshow>
            <shopperslideshow_mysql4>
                <class>Queldorei_Shopperslideshow_Model_Mysql4</class>
                <entities>
                    <slides>
                        <table>shopper_slides</table>
                    </slides>
	                <slides_store>
                        <table>shopper_slides_store</table>
                    </slides_store>
                    <revolution_slides>
                        <table>shopper_revolution_slides</table>
                    </revolution_slides>
	                <revolution_slides_store>
                        <table>shopper_revolution_slides_store</table>
                    </revolution_slides_store>
                </entities>
            </shopperslideshow_mysql4>
        </models>
        <resources>
            <shopperslideshow_setup>
                <setup>
                    <module>Queldorei_Shopperslideshow</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </shopperslideshow_setup>
            <shopperslideshow_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </shopperslideshow_write>
            <shopperslideshow_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </shopperslideshow_read>
        </resources>
        <blocks>
            <shopperslideshow>
                <class>Queldorei_Shopperslideshow_Block</class>
            </shopperslideshow>
        </blocks>
        <helpers>
            <shopperslideshow>
                <class>Queldorei_Shopperslideshow_Helper</class>
            </shopperslideshow>
        </helpers>
    </global>
	<default>
		<shopperslideshow>
			<config>
                <enabled>1</enabled>
                <show>home</show>
                <slider>flexslider</slider>
			</config>
            <flexslider>
                <height></height>
                <animation>slide</animation>
                <slideshow>true</slideshow>
                <animation_loop>true</animation_loop>
                <mousewheel>false</mousewheel>
                <smoothheight>false</smoothheight>
                <slideshow_speed>7000</slideshow_speed>
                <animation_speed>400</animation_speed>
                <control_nav>false</control_nav>
                <direction_nav>true</direction_nav>
                <timeline>true</timeline>
            </flexslider>
            <revolutionslider>
                <delay>9000</delay>
                <startheight>460</startheight>
                <startwidth>1170</startwidth>
                <hideThumbs>200</hideThumbs>
                <navigationType>bullet</navigationType>
                <navigationArrows>verticalcentered</navigationArrows>
                <navigationStyle>round</navigationStyle>
                <touchenabled>on</touchenabled>
                <shuffle>off</shuffle>
                <navOffsetHorizontal>0</navOffsetHorizontal>
                <navOffsetVertical>-14</navOffsetVertical>
                <onHoverStop>on</onHoverStop>
                <thumbWidth>100</thumbWidth>
                <thumbHeight>50</thumbHeight>
                <thumbAmount>5</thumbAmount>
                <hideCaptionAtLimit></hideCaptionAtLimit>
                <hideAllCaptionAtLilmit></hideAllCaptionAtLilmit>
                <hideSliderAtLimit></hideSliderAtLimit>
                <stopAtSlide>-1</stopAtSlide>
                <stopAfterLoops>-1</stopAfterLoops>
                <timeline>1</timeline>
                <timeline_position>top</timeline_position>
            </revolutionslider>
		</shopperslideshow>
	</default>
</config>