<?xml version="1.0"?>
<config>
    <modules>
        <Snap_Card>
            <version>0.0.3</version>
        </Snap_Card>
    </modules>
    <global>
        <helpers>
            <snap_card>
                <class>Snap_Card_Helper</class>
            </snap_card>
        </helpers>
        <blocks>
            <snap_card>
                <class>Snap_Card_Block</class>
            </snap_card>
        </blocks>
        <models>
            <snap_card>
                <class>Snap_Card_Model</class>
                <resourceModel>snap_card_resource</resourceModel>
            </snap_card>
            <snap_card_resource>
                <class>Snap_Card_Model_Resource</class>
                <entities>
                    <entity>
                        <table>snap_giftcard_entity</table>
                    </entity>
                    <usage>
                        <table>snap_giftcard_usage</table>
                    </usage>
                    <charge>
                        <table>snap_giftcard_charge</table>
                    </charge>
                </entities>
            </snap_card_resource>
        </models>
        <resources>
            <snap_card_setup>
                <setup>
                    <module>Snap_Card</module>
                    <class>Mage_Sales_Model_Resource_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </snap_card_setup>
        </resources>
        <sales>
            <quote>
                <totals>
                    <snap_card>
                        <class>snap_card/total_quote_card</class>
                        <after>weee,discount,tax,tax_subtotal,grand_total,reward</after>
                        <before>customerbalance</before>
                        <renderer>snap_card/checkout_cart_total</renderer>
                    </snap_card>
                </totals>
            </quote>
            <order_invoice>
                <totals>
                    <snap_card>
                        <class>snap_card/total_invoice_card</class>
                        <after>discount,tax,grand_total,reward,giftwrapping</after>
                        <before>customerbalance</before>
                    </snap_card>
                </totals>
            </order_invoice>
            <order_creditmemo>
                <totals>
                    <snap_card>
                        <class>snap_card/total_creditmemo_card</class>
                        <after>weee,discount,tax,grand_total,giftwrapping,customerbalance</after>
                        <before>reward</before>
                    </snap_card>
                </totals>
            </order_creditmemo>
        </sales>
        <events>
            <sales_convert_quote_to_order>
                <observers>
                    <snap_card>
                        <class>snap_card/observer</class>
                        <method>salesEventConvertQuoteToOrder</method>
                    </snap_card>
                </observers>
            </sales_convert_quote_to_order>
            <checkout_submit_all_after>
                <observers>
                    <snap_card>
                        <class>snap_card/observer</class>
                        <method>checkoutSubmitAllAfter</method>
                    </snap_card>
                </observers>
            </checkout_submit_all_after>
            <order_cancel_after>
                <observers>
                    <snap_card>
                        <class>snap_card/observer</class>
                        <method>orderCancelAfter</method>
                    </snap_card>
                </observers>
            </order_cancel_after>
            <sales_order_status_after>
                <observers>
                    <snap_card>
                        <class>snap_card/observer</class>
                        <method>salesOrderStatusAfter</method>
                    </snap_card>
                </observers>
            </sales_order_status_after>
            <sales_order_invoice_cancel>
                <observers>
                    <snap_card>
                        <class>snap_card/observer</class>
                        <method>salesOrderInvoiceCancel</method>
                    </snap_card>
                </observers>
            </sales_order_invoice_cancel>
        </events>
        <fieldsets>
            <sales_convert_quote_address>
                <base_snap_cards_amount>
                    <to_order>*</to_order>
                </base_snap_cards_amount>
                <snap_cards_amount>
                    <to_order>*</to_order>
                </snap_cards_amount>
                <used_snap_cards>
                    <to_order>snap_cards</to_order>
                </used_snap_cards>
            </sales_convert_quote_address>
        </fieldsets>
        <pdf>
            <totals>
                <snap_card translate="title">
                    <title>Gift Cards</title>
                    <source_field>snap_cards_amount</source_field>
                    <amount_prefix>-</amount_prefix>
                    <font_size>7</font_size>
                    <display_zero>0</display_zero>
                    <sort_order>550</sort_order>
                </snap_card>
            </totals>
        </pdf>
    </global>
    <frontend>
        <translate>
            <modules>
                <Snap_Card>
                    <files>
                        <default>Snap_Card.csv</default>
                    </files>
                </Snap_Card>
            </modules>
        </translate>
        <routers>
            <snap_card>
                <use>standard</use>
                <args>
                    <module>Snap_Card</module>
                    <frontName>giftcard</frontName>
                </args>
            </snap_card>
        </routers>
        <layout>
            <updates>
                <snap_card module="Snap_Card">
                    <file>snap/card.xml</file>
                </snap_card>
            </updates>
        </layout>
    </frontend>
    <adminhtml>
        <layout>
            <updates>
                <snap_card>
                    <file>snap/card.xml</file>
                </snap_card>
            </updates>
        </layout>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <Snap translate="title" module="Snap_Card">
                                            <title>SNAP Settings</title>
                                        </Snap>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
    <admin>
    <routers>
        <adminhtml>
            <args>
                <modules>
                    <my_module before="Mage_Adminhtml">Snap_Card_Adminhtml</my_module>
                </modules>
            </args>
        </adminhtml>
    </routers>
</admin>
</config>


