<?xml version="1.0"?>
<config>
    <modules>
        <Queldorei_ShopperSettings>
            <version>1.5.4</version>
        </Queldorei_ShopperSettings>
    </modules>
    <frontend>
        <layout>
            <updates>
                <shoppersettings>
                    <file>queldorei/shoppersettings.xml</file>
                </shoppersettings>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
            <shoppersettings>
                <use>admin</use>
                <args>
                    <module>Queldorei_ShopperSettings</module>
                    <frontName>shoppersettings</frontName>
                </args>
            </shoppersettings>
        </routers>
    </admin>            
	<adminhtml>
        <layout>
            <updates>
                <shoppersettings>
                    <file>queldorei/shoppersettings.xml</file>
                </shoppersettings>
            </updates>
        </layout>
        <menu>
            <queldorei translate="title" module="shoppersettings">
                <title>Queldorei</title>
                <sort_order>9999</sort_order>
                <children>
                    <shopper translate="title" module="shoppersettings">
                        <title>Shopper</title>
                        <sort_order>10</sort_order>
                        <children>
                            <settings translate="title" module="shoppersettings">
                                <title>Theme Settings</title>
                                <sort_order>10</sort_order>
                                <action>adminhtml/system_config/edit/section/shoppersettings</action>
                            </settings>
	                        <brands translate="title" module="shoppersettings">
		                        <title>Brands Settings</title>
		                        <sort_order>20</sort_order>
		                        <action>adminhtml/system_config/edit/section/shopperbrands</action>
	                        </brands>
                            <restore translate="title" module="shoppersettings">
                                <title>Restore Defaults</title>
                                <sort_order>30</sort_order>
                                <action>shoppersettings/adminhtml_restore</action>
                            </restore>
                            <activate translate="title" module="shoppersettings">
                                <title>Activate Theme</title>
                                <sort_order>40</sort_order>
                                <action>shoppersettings/adminhtml_activate</action>
                            </activate>
                        </children>
                    </shopper>
                </children>
            </queldorei>
        </menu>
		<translate>
		     <modules>
		         <queldorei>
		             <files>
		                 <default>Queldorei_ShopperSettings.csv</default>
		             </files>
		         </queldorei>
		     </modules>
		 </translate>
		<acl>
			<resources>
				<admin>
					<children>
						<system>
			                <children>
			                    <config>
			                        <children>
			                            <shoppersettings>
			                                <title>Shopper Theme Settings</title>
			                            </shoppersettings>
				                        <shopperbrands>
					                        <title>Shopper Brands Settings</title>
				                        </shopperbrands>
			                        </children>
			                    </config>
			                </children>
			            </system>
						<queldorei>
			                <children>
                                <shopper>
                                    <title>Shopper</title>
                                    <children>
                                        <settings>
                                            <title>Theme Settings</title>
                                        </settings>
	                                    <brands>
		                                    <title>Brands Settings</title>
	                                    </brands>
                                        <restore>
                                            <title>Restore Defaults</title>
                                        </restore>
                                        <activate>
                                            <title>Activate Theme</title>
                                        </activate>
                                    </children>
                                </shopper>
			                </children>
			            </queldorei>
					</children>
				</admin>
			</resources>
		</acl>
    </adminhtml>
	<global>
        <blocks>
            <shoppersettings>
                <class>Queldorei_ShopperSettings_Block</class>
            </shoppersettings>
        </blocks>
        <helpers>
            <shoppersettings>
                <class>Queldorei_ShopperSettings_Helper</class>
            </shoppersettings>
        </helpers>
		<models>
            <shoppersettings>
                <class>Queldorei_ShopperSettings_Model</class>
            </shoppersettings>
        </models>
        <resources>
            <shoppersettings_setup>
                <setup>
                    <module>Queldorei_ShopperSettings</module>
	                <class>Queldorei_ShopperSettings_Model_Resource_Mysql4_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </shoppersettings_setup>
            <shoppersettings_write>
                <connection>
                  <use>core_write</use>
                </connection>
            </shoppersettings_write>
            <shoppersettings_read>
               <connection>
                <use>core_read</use>
              </connection>
            </shoppersettings_read>
        </resources>
    </global>
	<default>
		<shoppersettings>
			<appearance>
				<enable_font>1</enable_font>
				<font>Open Sans</font>
				<color>#97d2c9</color>
				<title_color></title_color>

                <header_bg>#ffffff</header_bg>
                <menu_text_color>#373230</menu_text_color>
                <slideshow_bg>#f4f4f2</slideshow_bg>
                <content_bg>#FAFAFA</content_bg>
                <content_bg_img></content_bg_img>
                <content_bg_img_mode></content_bg_img_mode>
                <content_link>#322C29</content_link>
                <content_link_hover>#97d2c9</content_link_hover>
                <page_title_bg>#F5F5F3</page_title_bg>
                <slider_bg>#EDEDED</slider_bg>
                <slider_border>#E1E1E1</slider_border>

                <toolbar_bg>#F9F9F9</toolbar_bg>
				<toolbar_color>#1D1C1B</toolbar_color>
                <toolbar_hover_color></toolbar_hover_color>

                <footer_bg>#322C29</footer_bg>
                <footer_color>#666666</footer_color>
                <footer_hover_color></footer_hover_color>
                <footer_banners_bg>#F7F7F6</footer_banners_bg>
                <footer_info_bg>#F4F4F2</footer_info_bg>
                <footer_info_border>#ECECEA</footer_info_border>
                <footer_info_title_color></footer_info_title_color>
                <footer_info_color>#666666</footer_info_color>
                <footer_info_link_color></footer_info_link_color>
                <footer_info_link_hover_color></footer_info_link_hover_color>

				<price_font>Open Sans</price_font>
                <price_color></price_color>
                <price_circle_color></price_circle_color>

                <login_bg>login_bg.jpg</login_bg>
                <timeline>#322c29</timeline>
			</appearance>
            <design>
                <responsive>1</responsive>
                <price_circle>1</price_circle>
                <fixed_header>1</fixed_header>
                <top_compare>1</top_compare>
                <search_field>0</search_field>
                <below_logo>0</below_logo>
                <override_css>0</override_css>
                <hide_compare>0</hide_compare>
                <prev_next>0</prev_next>
            </design>
            <navigation>
                <use_wide_navigation>0</use_wide_navigation>
                <use_navigation>1</use_navigation>
                <column_items>12</column_items>
                <home>1</home>
                <custom_block_width>600</custom_block_width>
            </navigation>
			<catalog>
                <categories_filter>0</categories_filter>
                <shopby_num>5</shopby_num>
                <grid_columns_2col>3</grid_columns_2col>
                <grid_columns_1col>4</grid_columns_1col>
                <bestsellers></bestsellers>
            </catalog>
			<checkout>
				<fax>1</fax>
			</checkout>
            <header>
                <top_signup>1</top_signup>
                <top_custom_link></top_custom_link>
                <top_custom_link_path></top_custom_link_path>
                <top_custom_link_anchor></top_custom_link_anchor>
                <top_custom_link_title></top_custom_link_title>
            </header>
            <labels>
                <new_label>1</new_label>
                <new_label_position>top-left</new_label_position>
                <sale_label>1</sale_label>
                <sale_label_position>top-right</sale_label_position>
                <enable_upsell>1</enable_upsell>
                <number_upsell>6</number_upsell>
                <replace_upsell>only</replace_upsell>
                <sku>1</sku>
                <clone_price>1</clone_price>
            </labels>
            <social>
                <twitter>queldoreithemes</twitter>
                <tweets_num>2</tweets_num>
                <consumerkey></consumerkey>
                <consumersecret></consumersecret>
                <accesstoken></accesstoken>
                <accesstokensecret></accesstokensecret>
                <twitter_replace></twitter_replace>
                <facebook>queldoreithemes</facebook>
                <facebook_replace></facebook_replace>
            </social>
            <cloudzoom>
                <enabled>1</enabled>
                <position>right</position>
                <lens_opacity>50</lens_opacity>
                <zoom_width></zoom_width>
                <zoom_height></zoom_height>
                <big_image_width>700</big_image_width>
                <big_image_height></big_image_height>
                <tint_color></tint_color>
                <tint_opacity>50</tint_opacity>
                <soft_focus>0</soft_focus>
                <smooth_move>3</smooth_move>
            </cloudzoom>
            <images>
                <zoom>cloud_zoom</zoom>
                <width></width>
                <height></height>
                <keep_ratio>1</keep_ratio>
            </images>
            <ajax>
                <priceslider>1</priceslider>
                <wishlist>1</wishlist>
                <cart>1</cart>
                <quick_view>1</quick_view>
                <quick_view_autoclose>0</quick_view_autoclose>
                <totop>1</totop>
            </ajax>
            <blocks>
                <block_left_nav>1</block_left_nav>
                <block_left_nav_order>10</block_left_nav_order>
                <block_bestsellers>1</block_bestsellers>
                <block_bestsellers_order>20</block_bestsellers_order>
                <block_layered_nav>1</block_layered_nav>
                <block_layered_nav_order>30</block_layered_nav_order>
                <block_slideshow>1</block_slideshow>
                <block_slideshow_order>40</block_slideshow_order>
                <block_viewed>1</block_viewed>
                <block_viewed_order>50</block_viewed_order>
                <block_tags>1</block_tags>
                <block_tags_order>60</block_tags_order>
                <block_subscribe>1</block_subscribe>
                <block_subscribe_order>70</block_subscribe_order>
                <block_compare>1</block_compare>
                <block_compare_order>80</block_compare_order>
                <block_poll>1</block_poll>
                <block_poll_order>90</block_poll_order>
                <block_compared>1</block_compared>
                <block_compared_order>100</block_compared_order>
	            <block_custom>0</block_custom>
                <block_custom_order>110</block_custom_order>
            </blocks>
		</shoppersettings>
		<shopperbrands>
			<main>
				<status>1</status>
				<pages>1</pages>
				<brands>0</brands>
				<attribute>manufacturer</attribute>
				<image>png</image>
				<image_width>96</image_width>
			</main>
		</shopperbrands>
	</default>
</config>