<?xml version="1.0"?>
<config>
    <modules>
        <Alpine_PrintPdf>
            <version>0.1.0</version>
        </Alpine_PrintPdf>
    </modules>
    <global>
        <models>
            <alpine_printpdf>
                <class>Alpine_PrintPdf_Model</class>
            </alpine_printpdf>
            <pdfcustomiser>
                <rewrite>
                    <observer>Alpine_PrintPdf_Model_PdfCustomiser_Observer</observer>
                    <order>Alpine_PrintPdf_Model_PdfCustomiser_Order</order>
                    <shipment>Alpine_PrintPdf_Model_PdfCustomiser_Shipment</shipment>
                    <invoice>Alpine_PrintPdf_Model_PdfCustomiser_Invoice</invoice>
                </rewrite>
            </pdfcustomiser>
            <emailattachments>
                <rewrite>
                    <observer>Alpine_PrintPdf_Model_EmailAttachments_Observer</observer>
                </rewrite>
            </emailattachments>
        </models>
        <blocks>
            <alpine_printpdf>
                <class>Alpine_PrintPdf_Block</class>
            </alpine_printpdf>
        </blocks>
        <helpers>
            <alpine_printpdf>
                <class>Alpine_PrintPdf_Helper</class>
            </alpine_printpdf>
            <pdfcustomiser>
                <rewrite>
                    <pdf_order>Alpine_PrintPdf_Helper_PdfCustomiser_Pdf_Order</pdf_order>
                    <data>Alpine_PrintPdf_Helper_PdfCustomiser_Data</data>
                    <pdf_invoice>Alpine_PrintPdf_Helper_PdfCustomiser_Pdf_Invoice</pdf_invoice>
                </rewrite>
            </pdfcustomiser>
            <emailattachments>
                <rewrite>
                    <data>Alpine_PrintPdf_Helper_PdfCustomiser_Data</data>
                </rewrite>
            </emailattachments>
        </helpers>
    </global>
    <admin>
        <routers>
            <alpine_printpdf>
                <use>admin</use>
                <args>
                    <module>Alpine_PrintPdf_Adminhtml</module>
                    <frontName>printpdf</frontName>
                </args>
            </alpine_printpdf>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <alpine_printpdf>
                    <file>alpine/printpdf.xml</file>
                </alpine_printpdf>
            </updates>
        </layout>
    </adminhtml>
    <default>
        <alpine_printpdf>
            <order>
                <allnewwindow>0</allnewwindow>
            </order>
            <invoice>
                <allnewwindow>0</allnewwindow>
            </invoice>
            <qz>
                <enabled>0</enabled>
                <full_size_x>210mm</full_size_x>
                <full_size_y>297mm</full_size_y>
                <label_size_x>4in</label_size_x>
                <label_size_y>6.5in</label_size_y>
                <close_window>1</close_window>
                <label_page_custom_size>1</label_page_custom_size>
                <label_page_size_x>612</label_page_size_x>
                <label_page_size_y>792</label_page_size_y>
            </qz>
        </alpine_printpdf>
        <alpine_printpdf_printers>
            <printer>
                <full>Not selected</full>
                <label>Not selected</label>
            </printer>
        </alpine_printpdf_printers>
        <sales_pdf>
            <order>
                <display_card>0</display_card>
                <display_gift_message>0</display_gift_message>
            </order>
        </sales_pdf>
    </default>
</config>