<?xml version="1.0"?>
<!-- Rename this file to export_data.own.xml and add your custom export classes here. These will be used to fetch data and make them available in the export. For sample classes check export_data.xml -->
<config>
    <data>
        <xyz>
            <class>xtento_orderexport/export_data_custom_xyz</class>
        </xyz>
    </data>
</config>
<!--
/**
 * Product:       Xtento_OrderExport (1.2.5)
 * ID:            GR6WnvnT6Ww3/JikLV7jXYKkCzueYchFmw1tJG+eutg=
 * Packaged:      2013-08-20T14:50:25+00:00
 * Last Modified: 2013-02-10T14:48:38+01:00
 * File:          app/code/local/Xtento/OrderExport/etc/xtento/export_data.own.xml.sample
 * Copyright:     Copyright (c) 2013 XTENTO GmbH & Co. KG <info@xtento.com> / All rights reserved.
 */
-->